
*{

scroll-behavior:smooth;

}
.navbar{

display:flex;    
font:100;
flex-direction: row;
max-width:100%;
background-color: black !important;
color: whitesmoke !important;
margin:0px;
padding: 10px;
}

.nav-link,.navbar-brand{

color:whitesmoke !important;
text-decoration-line: none;
}
.nav-link{
padding-left:25px !important;
padding-right:25px !important;
}

#about_text{
    font-family:sans-serif;
    font-size:25px;
    padding:28px;
}
#about_heading{
    font-family:sans-serif;

    padding-top: 90px;
    margin-left: 20px;    
    }
    #about{
        background-color:#f7f7f7;
        margin:0;
        padding-bottom:1px;

    }
    #contact{
        padding:20px;
        background: linear-gradient(to right, rgb(76, 184, 196), rgb(60, 211, 173));
        margin:0;
    }
    .card{
margin:10px;
}       

#contact_card{
font-size:18px; 
padding:20px;
margin:20px; 
box-shadow:5px 5px 5px 5px black;
border-radius:22px;
}

#menu{

    padding-top:50px;
    padding-bottom:20px;
    flex-direction:column;
    justify-content:center;
    background-color:black;
    display:flex;
}

#menu_container{
    justify-content:center;
    display:flex;
    flex-wrap:wrap;
    /* background-color:red; */
    width:auto;
}

.menu_card{
    padding:8px;
    border-radius: 21px;
    height:20rem;
    width:20rem;
}
.menu_card:hover{

    cursor:pointer;
    cursor:hand;
    transform: scale(1.01);
    box-shadow:2px 2px 3px 7px grey;
}
.menu_image{
    border-radius: 22px;
}
.form_field{

    width:90%;
    border:.5px solid rgb(189, 183, 183);
    margin:18px;
    padding:5px;
}
.city{
    margin-left:18px;
    margin-right: 0;
    width:45%;
    display:inline-flex;
}
.state{
    margin:0;
    width:44%;
    display:inline;
}
textarea{
    
    resize: none;
}
.m,.navbarDropdown:hover{
cursor:pointer;
cursor:hand;

}